{% load static %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>ECC step by step</title>
		<link rel="stylesheet" href="{% static 'revealjs/dist/reset.css' %}">
		<link rel="stylesheet" href="{% static 'revealjs/dist/reveal.css' %}">
		<link rel="stylesheet" href="{% static 'revealjs/dist/theme/white.css' %}">
		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="{% static 'revealjs/plugin/highlight/monokai.css' %}" />
    <style>
      #tabla {
        border-collapse: collapse;
        border-spacing: 0;
      }
      #tabla td {
        margin: 0;
        padding: 0;
      }
     .selected {
        border-style: solid;
        border-color: green;
        border-width: 2px;
      }
     .initial {
        border-style: solid;
        border-color: blue;
        border-width: 2px;
      }
     .align {
       text-align: center !important;
       vertical-align: middle;
     }
     .second, .third, .fourth, .fifth, .sixth, .seventh {
       display: none;
     }
    </style>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
        <h3>Elliptic Curve Cryptography</h3>
        <section data-transition="fade">
          <p> Elliptic Curve Cryptography <b>(ECC)</b> is an approach to <b>public-key cryptography</b> </p>
        </section>
        <section data-transition="fade">
          <p>ECC is based on the algebraic structure of <b>elliptic curves</b> defined by the formula:</p>
          <p>  \[\begin{aligned}
                \tag{mod p} y^{2} = x^{3} + ax + b
                \end{aligned} \]
          </p>
          <p>on a <b>finite field</b> of integers <b>(mod p)</b></p>
          <p>being p a prime > 3</p>
        </section>
        <section data-transition="fade">
          <p> ECC <b>public key</b> is a <b>point</b> in the curve</p>
          <p> ECC <b>private key</b> is an <b>integer</b></p>
          <p> The <b>curve</b> and the starting point <b>P</b> are also <b>public information</b> agreed by the parts</p>
        </section>
        <section data-transition="fade">
          <p> Let's plot the following curve to explain step by step how to get to private key</p>
          <p>  \[\begin{aligned}
                \ y^{2} = x^{3} - 3x - 5
                \end{aligned} \]
          </p>
          <p>Consider the finite field of integers (mod p) a very big number so the process is easier to understand</p>
        </section>
        <section data-transition="fade">
          <img src="data:image/png;base64,{{ graph0|safe }}" height="700" width="700">
        </section>
				<section data-transition="fade">
          <img src="data:image/png;base64,{{ graph1|safe }}" height="700" width="700">
        </section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph2|safe }}" height="700" width="700"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph3|safe }}" height="700" width="700"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph4|safe }}" height="700" width="700"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph5|safe }}" height="700" width="700"></section>
        <section data-transition="fade">
          <p> This point P' is defined as</p>
          <p>  <b>P' = A + B </b></p>
          <p> Point <b>P'</b> becomes point <b>A</b> for the next iteration </p>
        </section>
        <section data-transition="fade"><img src="data:image/png;base64,{{ graph_second_1|safe }}" height="700" width="700"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph_second_2|safe }}" height="700" width="700"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph_second_3|safe }}" height="700" width="700"></section>
        <section data-transition="fade"><img src="data:image/png;base64,{{ graph_second_4|safe }}" height="700" width="700"></section>
				<section data-transition="fade">
          <p> This process is repeated <b>N</b> times</p>
          <p> The final <b>P'</b> point is the <b>public key</b> </p>
          <p> The times we have jumped to get to the final point is <b>N</b>, the <b>private key</b> </p>
        </section>
        <section data-transition="fade">
          <p> In this simple example, the curve was</p>
          <p>  \[\begin{aligned}
                \ y^{2} = x^{3} - 3x - 5
                \end{aligned} \]
          </p>
          <p> Starting P point was <b>P = (-1.9, 2)</b> </p>
          <p> Public key is <b>P' = (2.1, -2.8)</b></p>
          <p> Private key is <b>N = 2</b>, since we jumped 2 times</p>
        </section>
        <section data-transition="fade">
          <p><b>Important:</b></p>
          <p> N should be a <b>huge</b> number, this is a simple example for learning purposes</p>
        </section>
        <section data-transition="fade">
          <p> Picking different points in the curve could be tedious</p>
          <p> But there is another approach</p>
        </section>
        <section data-transition="fade">
          <p> We can use the starting agreed point <b>P</b> and later pick 2 points infinitely close to it</p>
          <p> It will look like we have selected the point <b>P</b> 2 times as A and B </p>
        </section>
        <section data-transition="fade">
          <p> We will plot the same curve as before to show this:</p>
          <p>  \[\begin{aligned}
                \ y^{2} = x^{3} - 3x - 5
                \end{aligned} \]
          </p>
        </section>
        <section data-transition="fade"><img src="data:image/png;base64,{{ graph_third_1|safe }}" height="700" width="700"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph_third_2|safe }}" height="700" width="700"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph_third_3|safe }}" height="700" width="700"></section>
        <section data-transition="fade">
          <p> Observe that <b>P' = P + P</b></p>
          <p> So the new point P' is <b>2P</b></p>
        </section>
        <section data-transition="fade">
          <p> Now we can add <b>2P + 2P</b> or <b>P + 2P</b>, etc.</p>
          <p> There's no need to pick other points, we can combine those that we already have defined to reach <b>NP</b></p>
        </section>
        <section data-transition="fade"><img src="data:image/png;base64,{{ last_graph|safe }}" height="700" width="700"></section>
        <section data-transition="fade">
          <p> <b>NP = (-1.98, 1.8)</b></p>
          <p> <b>(-1.98, 1.8)</b> is the <b>public key</b></p>
          <p> <b>N</b> is the <b>private key</b></p>
        </section>
        <section data-transition="fade">
          <p> Since we did the operations, we know that <b>N = 123123</b></p>
          <p> But for an attacker it's difficult to find the value <b>N</b> from the public information available</p>
          <p> This is known as the <b>ECC Discrete Logarithm Problem</b> and it provides <b>security</b> to the cryptosystem</p>
        </section>
        <section data-transition="fade">
          <p> See in the next slide an example where given </p>
          <p> Same <span style="color: blue">Initial Point</span></p>
          <p> Same <span style="color: green">Final Point</span></p>
          <p>iterations to get to the final point were different</p>
          <p>So it is the <b>Private Key</b></p>
        </section>
        <section data-transition="fade" data-state="table">
          <table id="tabla">
            <tr>
              <td></td>
              <td class="align" colspan="5">Iterations</td>
              <td></td>
            </tr>
            <tr>
              <td class="align first">Initial</td>
              <td class="align second" style="width: 120px">1</td>
              <td class="align third" style="width: 120px">2</td>
              <td class="align fourth" style="width: 120px">3</td>
              <td class="align fifth" style="width: 120px">4</td>
              <td class="align sixth" style="width: 120px">5</td>
              <td class="align seventh">Private Key</td>
            </tr>
            <tr>
              <td><div class="first"><img class="initial" src="data:image/png;base64,{{ graph_third_1|safe }}" height="120" width="120" style="margin: 0;"></div></td>
              <td><div class="second"><img class="selected"  src="data:image/png;base64,{{ last_graph|safe }}" height="120" width="120" style="margin: 0;"></div></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="align seventh">1</td>
            </tr>
            <tr>
              <td class="first"><img class="initial" src="data:image/png;base64,{{ graph_third_1|safe }}" height="120" width="120" style="margin: 0;"></td>
              <td class="second"><img src="data:image/png;base64,{{ graph_second_1|safe }}" height="120" width="120" style="margin: 0;"></td>
              <td class="third"><img src="data:image/png;base64,{{ graph_second_2|safe }}" height="120" width="120" style="margin: 0;"></td>
              <td class="fourth"><img src="data:image/png;base64,{{ graph_second_3|safe }}" height="120" width="120" style="margin: 0;"></td>
              <td class="fifth"><img src="data:image/png;base64,{{ graph_second_3|safe }}" height="120" width="120" style="margin: 0;"></td>
              <td class="sixth"><img class="selected" src="data:image/png;base64,{{ last_graph|safe }}" height="120" width="120" style="margin: 0;"></td>
              <td class="align seventh">5</td>
          </tr>
            <tr>
              <td class="first"><img class="initial" src="data:image/png;base64,{{ graph_third_1|safe }}" height="120" width="120" style="margin: 0;"></td>
              <td class="second"><img src="data:image/png;base64,{{ graph_second_1|safe }}" height="120" width="120" style="margin: 0;"></td>
              <td class="third"><img src="data:image/png;base64,{{ graph_second_2|safe }}" height="120" width="120" style="margin: 0;"></td>
              <td class="fourth"><img src="data:image/png;base64,{{ graph_second_3|safe }}" height="120" width="120" style="margin: 0;"></td>
              <td class="fifth"><img class="selected" src="data:image/png;base64,{{ last_graph|safe }}" height="120" width="120" style="margin: 0;"></td>
              <td class="sixth"></td>
              <td class="align seventh">4</td>
            </tr>
          </table>
        </section>
        <section data-transition="fade">
          <p> To sum up, even knowing:</p>
          <p> Elliptic Curve</p>
          <p> Initial point</p>
          <p> Final point</p>
          <p> Private key could have several values and this provides <b>security</b> to the cryptosystem</p>
        </section>
        <section data-transition="fade">
          <p> Thank you for your time</p>
        </section>
      </div>
		</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="{% static 'revealjs/dist/reveal.js' %}"></script>
    <script src="{% static 'revealjs/plugin/notes/notes.js' %}"></script>
    <script src="{% static 'revealjs/plugin/markdown/markdown.js' %}"></script>
    <script src="{% static 'revealjs/plugin/highlight/highlight.js' %}"></script>
    <script src="{% static 'revealjs/plugin/math/math.js' %}"></script>
		<script>
			Reveal.initialize({
				hash: true,
				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealMath.KaTeX ]
			});
      Reveal.addEventListener('table', function(){
        setTimeout(function (){
        $('.second').each(function (fadeInDiv){
          $(this).delay(fadeInDiv * 500).fadeIn(1000);
        });
        },2000);
        setTimeout(function (){
        $('.third').each(function (fadeInDiv){
          $(this).delay(fadeInDiv * 500).fadeIn(1000);
        });
        },4000);
        setTimeout(function (){
        $('.fourth').each(function (fadeInDiv){
          $(this).delay(fadeInDiv * 500).fadeIn(1000);
        });
        },6000);
        setTimeout(function (){
        $('.fifth').each(function (fadeInDiv){
          $(this).delay(fadeInDiv * 500).fadeIn(1000);
        });
        },8000);
        setTimeout(function (){
        $('.sixth').each(function (fadeInDiv){
          $(this).delay(fadeInDiv * 500).fadeIn(1000);
        });
        },10000);
        setTimeout(function (){
        $('.seventh').each(function (fadeInDiv){
          $(this).delay(fadeInDiv * 500).fadeIn(1000);
        });
        },12000);
      });
		</script>
	</body>
</html>
