{% load static %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="{% static 'revealjs/dist/reset.css' %}">
		<link rel="stylesheet" href="{% static 'revealjs/dist/reveal.css' %}">
		<link rel="stylesheet" href="{% static 'revealjs/dist/theme/white.css' %}">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="{% static 'revealjs/plugin/highlight/monokai.css' %}" />
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
        <h2>Elliptic Curve Cryptography</h2>
        <section data-transition="fade"><img src="data:image/png;base64,{{ graph0|safe }}" height="500" width="500"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph1|safe }}" height="500" width="500"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph2|safe }}" height="500" width="500"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph3|safe }}" height="500" width="500"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph4|safe }}" height="500" width="500"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph5|safe }}" height="500" width="500"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph_second_1|safe }}" height="500" width="500"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph_second_2|safe }}" height="500" width="500"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph_second_3|safe }}" height="500" width="500"></section>
				<section data-transition="fade"><img src="data:image/png;base64,{{ graph_second_4|safe }}" height="500" width="500"></section>
			</div>
		</div>

		<script src="{% static 'revealjs/dist/reveal.js' %}"></script>
    <script src="{% static 'revealjs/plugin/notes/notes.js' %}"></script>
    <script src="{% static 'revealjs/plugin/markdown/markdown.js' %}"></script>
    <script src="{% static 'revealjs/plugin/highlight/highlight.js' %}"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
		</script>
	</body>
</html>
